@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
/* @tailwind base;
@tailwind components; */
@tailwind utilities;

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --text-primary: #03045e;
  --paragraph-color: #e9f6ff;
  --card-bg: #f5f5f5;
}

.dark {
  --bg-color: #1F1F1F;
  --text-color: #5d18dd;
  --text-primary: #0077b6;
  --paragraph-color: #e9f6ff;
  --card-bg: #2D2D2D;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}



/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 5px;
}